doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container.listing-reg
      h1 Sypht API Upload
      p Welcome to Sypht. Upload and analyze your document here

    block content